{
  "openapi": "3.0.3",
  "info": {
    "title": "Water Billing System Mobile API",
    "version": "1.0.0",
    "description": "Token-based API for customer mobile apps and staff mobile clients."
  },
  "servers": [
    {
      "url": "https://wbs.bremac.co.ke"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Token"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "message": { "type": "string" },
          "data": { "type": "object", "additionalProperties": true }
        }
      }
    }
  },
  "paths": {
    "/api/mobile/index.php": {
      "get": {
        "summary": "Mobile API index",
        "responses": {
          "200": {
            "description": "API metadata"
          }
        }
      }
    },
    "/api/mobile/login.php": {
      "post": {
        "summary": "Login and receive a bearer token or 2FA challenge",
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["identifier", "password"],
                "properties": {
                  "identifier": { "type": "string" },
                  "password": { "type": "string" },
                  "device_name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login success or 2FA challenge" },
          "401": { "description": "Invalid credentials" },
          "429": { "description": "Rate limited" }
        }
      }
    },
    "/api/mobile/register.php": {
      "get": {
        "summary": "Load public mobile registration form metadata",
        "security": [{ "apiKeyAuth": [] }],
        "responses": {
          "200": { "description": "Registration metadata" }
        }
      },
      "post": {
        "summary": "Submit a public mobile registration",
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "registration_type": { "type": "string", "enum": ["client", "staff"] },
                  "customer_type": { "type": "string", "enum": ["individual", "company"] },
                  "first_name": { "type": "string" },
                  "middle_name": { "type": "string" },
                  "last_name": { "type": "string" },
                  "phone_country_code": { "type": "string" },
                  "phone_number_local": { "type": "string" },
                  "username": { "type": "string" },
                  "email": { "type": "string" },
                  "id_number": { "type": "string" },
                  "tax_pin": { "type": "string" },
                  "address": { "type": "string" },
                  "location_label": { "type": "string" },
                  "latitude": { "type": "number" },
                  "longitude": { "type": "number" },
                  "gps_accuracy": { "type": "number" },
                  "connection_type": { "type": "string", "enum": ["domestic", "commercial", "industrial"] },
                  "company_name": { "type": "string" },
                  "company_registration_number": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Registration accepted" },
          "422": { "description": "Validation error" }
        }
      }
    },
    "/api/mobile/verify_2fa.php": {
      "post": {
        "summary": "Verify a 2FA challenge and receive a bearer token",
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["challenge_token", "code"],
                "properties": {
                  "challenge_token": { "type": "string" },
                  "code": { "type": "string" },
                  "device_name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Verification success" },
          "400": { "description": "Invalid or expired code" }
        }
      }
    },
    "/api/mobile/resend_2fa.php": {
      "post": {
        "summary": "Resend a 2FA code",
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["challenge_token"],
                "properties": {
                  "challenge_token": { "type": "string" },
                  "method": { "type": "string", "enum": ["sms", "email"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Code sent" },
          "400": { "description": "Challenge invalid or cooldown active" }
        }
      }
    },
    "/api/mobile/logout.php": {
      "post": {
        "summary": "Revoke the current bearer token",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Logged out" }
        }
      }
    },
    "/api/mobile/me.php": {
      "get": {
        "summary": "Get the authenticated customer profile",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Profile" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/mobile/registration_payment.php": {
      "get": {
        "summary": "Get authenticated registration-payment follow-up status",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Registration payment status" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "summary": "Initiate or resend an M-Pesa STK push for the authenticated user's registration fee",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": { "type": "string", "enum": ["initiate", "resend_stk"] },
                  "phone": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Registration payment STK initiated" },
          "401": { "description": "Unauthorized" },
          "422": { "description": "Validation or business rule error" }
        }
      }
    },
    "/api/mobile/profile_update.php": {
      "post": {
        "summary": "Update the authenticated customer profile",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Profile updated" } }
      }
    },
    "/api/mobile/change_password.php": {
      "post": {
        "summary": "Change the authenticated customer password",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Password changed" } }
      }
    },
    "/api/mobile/dashboard.php": {
      "get": {
        "summary": "Get customer dashboard data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Dashboard" } }
      }
    },
    "/api/mobile/meters.php": {
      "get": {
        "summary": "Get linked customer meters",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Meters" } }
      }
    },
    "/api/mobile/bills.php": {
      "get": {
        "summary": "Get paginated customer bills",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Bills" } }
      }
    },
    "/api/mobile/bill.php": {
      "get": {
        "summary": "Get one bill with line items and payments",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "Bill detail" } }
      }
    },
    "/api/mobile/request_bill_action.php": {
      "post": {
        "summary": "Submit a write-off, waiver, or installment request",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Request submitted" } }
      }
    },
    "/api/mobile/payments.php": {
      "get": {
        "summary": "Get payment history",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "Payments" } }
      }
    },
    "/api/mobile/payment_status.php": {
      "get": {
        "summary": "Poll customer payment status for an STK attempt",
        "security": [{ "apiKeyAuth": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "name": "payment_id",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Recommended payment identifier returned by initiate_payment"
          },
          {
            "name": "checkout_request_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Optional M-Pesa checkout request identifier"
          },
          {
            "name": "bill_id",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Optional fallback to fetch the latest payment attempt for a bill"
          }
        ],
        "responses": {
          "200": { "description": "Payment status payload" },
          "404": { "description": "Payment status not found" },
          "422": { "description": "Missing identifier" }
        }
      }
    },
    "/api/mobile/payment.php": {
      "get": {
        "summary": "Get a single payment with receipt links",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Payment detail" } }
      }
    },
    "/api/mobile/statement.php": {
      "get": {
        "summary": "Get statement totals with filtered bills and payments",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Statement" } }
      }
    },
    "/api/mobile/initiate_payment.php": {
      "post": {
        "summary": "Initiate an M-Pesa STK push for a bill",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["bill_id"],
                "properties": {
                  "bill_id": { "type": "integer" },
                  "phone": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "STK initiated" } }
      }
    },
    "/api/mobile/meter_readings.php": {
      "get": {
        "summary": "Get recent meter-reading submissions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "meter_number", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Meter readings" } }
      }
    },
    "/api/mobile/submit_reading.php": {
      "post": {
        "summary": "Submit a meter reading with photo",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["current_reading", "meter_photo"],
                "properties": {
                  "current_reading": { "type": "number" },
                  "billing_month": { "type": "string", "format": "date" },
                  "due_date": { "type": "string", "format": "date" },
                  "meter_number": { "type": "string" },
                  "meter_photo": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Reading submitted" } }
      }
    },
    "/api/mobile/admin/search_clients.php": {
      "get": {
        "summary": "Search clients for staff/admin mobile apps",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Client search results" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/api/mobile/admin/collections.php": {
      "get": {
        "summary": "Get staff/admin collections summary and recent payments",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "days", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Collections data" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/api/mobile/admin/onboarding_tracker.php": {
      "get": {
        "summary": "Get onboarding tracker records for staff/admin mobile apps",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["all", "proforma", "meter"] } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["all", "attention", "pending_payment", "pending_setup", "complete"] } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "assignee", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Onboarding tracker" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/api/mobile/admin/customers.php": {
      "get": {
        "summary": "List or search customers for staff clients",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Customers" } }
      }
    },
    "/api/mobile/admin/customer.php": {
      "get": {
        "summary": "Get one customer with recent activity",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Customer detail" } }
      }
    },
    "/api/mobile/admin/bill_detail.php": {
      "get": {
        "summary": "Get bill detail for staff/admin clients",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Admin bill detail" } }
      }
    },
    "/api/mobile/admin/approvals.php": {
      "get": {
        "summary": "List approval items",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Approvals" } }
      },
      "post": {
        "summary": "Approve or reject an approval item",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Approval updated" } }
      }
    },
    "/api/mobile/admin/complaints.php": {
      "get": {
        "summary": "List complaints for staff/admin clients",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Complaints" } }
      },
      "post": {
        "summary": "Update complaint status",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Complaint updated" } }
      }
    },
    "/api/mobile/admin/manual_payment.php": {
      "post": {
        "summary": "Record a manual payment",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Manual payment recorded" } }
      }
    },
    "/api/mobile/admin/demand_notices.php": {
      "get": {
        "summary": "List demand notices and summary counts",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Demand notices" } }
      },
      "post": {
        "summary": "Generate or update demand notices",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Demand notice action completed" } }
      }
    },
    "/api/mobile/admin/integration_health.php": {
      "get": {
        "summary": "Get live integration health",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Integration health" } }
      }
    },
    "/api/mobile/admin/support_inquiries.php": {
      "get": {
        "summary": "List support inquiries",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Support inquiries" } }
      },
      "post": {
        "summary": "Reply to or update a support inquiry",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Support inquiry updated" } }
      }
    },
    "/api/mobile/admin/activity_logs.php": {
      "get": {
        "summary": "List activity logs",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Activity logs" } }
      },
      "post": {
        "summary": "Delete selected activity logs",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Activity logs updated" } }
      }
    },
    "/api/mobile/admin/system_logs.php": {
      "get": {
        "summary": "Get system logs and SMS queue status",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "System logs" } }
      },
      "post": {
        "summary": "Manage system logs and SMS queue records",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "System logs updated" } }
      }
    },
    "/api/mobile/admin/blog.php": {
      "get": {
        "summary": "Load blog management data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Blog data" } }
      },
      "post": {
        "summary": "Manage blog posts and comments",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Blog action completed" } }
      }
    },
    "/api/mobile/admin/accounting_overview.php": {
      "get": {
        "summary": "Get accounting overview data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Accounting overview" } }
      },
      "post": {
        "summary": "Manage accounting overview actions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Accounting action completed" } }
      }
    },
    "/api/mobile/admin/accounting_reports.php": {
      "get": {
        "summary": "Get accounting reports",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Accounting reports" } }
      }
    },
    "/api/mobile/admin/accounting_ledger.php": {
      "get": {
        "summary": "Get accounting ledger and journal data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Accounting ledger" } }
      },
      "post": {
        "summary": "Reverse a journal entry",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Journal entry reversed" } }
      }
    },
    "/api/mobile/admin/accounting_budget.php": {
      "get": {
        "summary": "Get accounting budget data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Accounting budget" } }
      },
      "post": {
        "summary": "Save accounting budget",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Budget saved" } }
      }
    },
    "/api/mobile/admin/accounting_transfers.php": {
      "get": {
        "summary": "Get accounting transfers",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Accounting transfers" } }
      },
      "post": {
        "summary": "Post accounting transfer",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Transfer posted" } }
      }
    },
    "/api/mobile/admin/users.php": {
      "get": {
        "summary": "Get customer management data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Customers" } }
      },
      "post": {
        "summary": "Manage customers",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Customer action completed" } }
      }
    },
    "/api/mobile/admin/staff_users.php": {
      "get": {
        "summary": "Get staff users",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Staff users" } }
      },
      "post": {
        "summary": "Manage staff users",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Staff action completed" } }
      }
    },
    "/api/mobile/admin/role_permissions.php": {
      "get": {
        "summary": "Get role permissions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Role permissions" } }
      },
      "post": {
        "summary": "Save role permissions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Role permissions saved" } }
      }
    },
    "/api/mobile/admin/customer_locations.php": {
      "get": {
        "summary": "Get customer location pins",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Customer locations" } }
      }
    },
    "/api/mobile/admin/settings.php": {
      "get": {
        "summary": "Get settings and tariff plans",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Settings" } }
      },
      "post": {
        "summary": "Manage settings and tariff plans",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Settings action completed" } }
      }
    },
    "/api/mobile/admin/terms_conditions.php": {
      "get": {
        "summary": "Get terms and conditions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Terms and conditions" } }
      },
      "post": {
        "summary": "Update terms and conditions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Terms updated" } }
      }
    },
    "/api/mobile/admin/payments.php": {
      "get": {
        "summary": "Get payments workspace data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Payments workspace" } }
      },
      "post": {
        "summary": "Manage payment workflows",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Payment action completed" } }
      }
    },
    "/api/mobile/admin/payment_transactions.php": {
      "get": {
        "summary": "Get payment transactions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Payment transactions" } }
      },
      "post": {
        "summary": "Manage payment transactions",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Payment transaction action completed" } }
      }
    },
    "/api/mobile/admin/registration_proformas.php": {
      "get": {
        "summary": "Get registration proformas",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Registration proformas" } }
      },
      "post": {
        "summary": "Manage registration proformas",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Registration proforma action completed" } }
      }
    },
    "/api/mobile/admin/invoicing.php": {
      "get": {
        "summary": "Get invoicing workspace",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Invoicing workspace" } }
      },
      "post": {
        "summary": "Manage invoicing entries",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Invoicing action completed" } }
      }
    },
    "/api/mobile/admin/bill_correction.php": {
      "get": {
        "summary": "Get bill correction data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Bill correction workspace" } }
      },
      "post": {
        "summary": "Apply bill correction",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Bill corrected" } }
      }
    },
    "/api/mobile/admin/reports.php": {
      "get": {
        "summary": "Get reporting data",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Reports" } }
      },
      "post": {
        "summary": "Run reports maintenance action",
        "security": [{ "apiKeyAuth": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "Reports maintenance completed" } }
      }
    }
  }
}